﻿@using Blood_Bank_System.ViewModels;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<i class="fa-regular fa-user"></i>
<div class="account-container d-flex justify-content-center mt-5">
    <div class="account-box glass-form ">

        <div class="text-center mb-4 d-flex justify-content-center align-items-center background-color:transparent;">
            <img src="https://cdn0.iconfinder.com/data/icons/man-user-human-avatar-profile-business-person/100/03-1User_13-512.png"
                 class="img-fluid me-0" style=" height: 50px; margin-right: 8px;" alt="User Icon" />
            <h2 class="m-0">Admin</h2>
        </div>


        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-4">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="float-end">
                <a asp-controller="Admin" asp-action="VerifyEmail" class="text-decoration-none">
                    Forgot password?
                </a>
            </div>
            <div class="form-check mb-4">
                <label class="form-check-label">
                    <input asp-for="RememberMe" class="form-check-input" />
                    @Html.DisplayNameFor(a=> a.RememberMe)
                </label>
            </div>
            <input type="submit" value="Login" class="btn btn-success w-100 p-2" />
            <p class="text-center mt-3">
                Don't have an account? <a asp-controller="Admin" asp-action="Register" class="text-decoration-none">Register</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}