@model Blood_Bank_System.Models.IndexModel;

@{
    ViewData["Title"] = "AddAppoint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        color: #434f53;
    }

    .img-app{
        min-height:500px;
    }
    .app-txt{
        padding-left:35px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Poppins', sans-serif;
        color: #555555;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .txt-app{
        padding-left:50px;
        
    }

    .form-control::placeholder {
        font-size: 15px; /* Adjust to make the placeholder text smaller */
        color: #6c757d; /* Optional: change color if needed */
    }
    .fs{
        font-size:46px;
    }
    .mar{
        padding-top:13px;
    }

    .error-message {
        position: absolute;
        right: 10px; /* Adjust this value as needed for spacing */
        top: 50%; /* Center vertically */
        transform: translateY(-50%); /* Center the error message */
        font-size: 12px; /* Small font size */
        color: #dc3545; /* Red color for errors */
        pointer-events: none; /* Make sure the error message does not interfere with input */
    }
 
</style>
<br />
<br />

<section class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="">
                    <img src="~/images/app1.jpg" class="img-fluid img-app" style="width:100%;object-fit:cover;" />
                </div>
            </div>


            <div class="col-lg-6 col-12 img-app" style="">
                <div class="img2-app">
                    <div class="">
                        <p class="fs ps-5 fw-bolder ">World Blood Donors Day</p>
                    </div> 
                    <div class="app-txt">
                        <p>
                            Every year, on 14 June, countries around the world celebrate
                            World Blood Donor Day. The event serves to raise awareness of
                            the need for safe blood and blood products and to thank blood
                            donors for their life-saving gifts of blood.
                        </p>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-lg-4 txt-app">
                        <div class="">
                            <p style="font-size:16px;margin-bottom:8px;"><i class="fa-regular fa-map" style="font-size:20px;padding-right:5px;color: #196cb3;"></i>Location:</p>
                        </div>
                        <div class="p-0">
                            <p style="font-size:16px;">
                                RK University, Rajkot,Gujarat
                            </p>
                        </div>
                        
                        <div class="mar">
                            <p style="font-size:16px;margin-bottom:8px;"><i class="fa-solid fa-calendar-days" style="font-size:20px;padding-right:5px;color: #196cb3;"></i>Date:</p>
                        </div>
                        <div class="p-0">
                            <p style="font-size:16px;">
                                14 June 2019
                            </p>
                        </div>
                       
                        <div class="mar">
                            <p style="font-size:16px;margin-bottom:8px;"><i class="fa-regular fa-clock" style="font-size:20px;padding-right:5px;color: #196cb3;"></i>Time:</p>
                        </div>
                        <div class="p-0">
                            <p style="font-size:16px;">
                                9:00 am - 8:00 pm
                            </p>
                        </div>

                    </div>

                    <div class="col-lg-8">
                        <div class="col-lg-12 col-12">
                            <h4 class="text-center pb-2" >Register today</h4>
                            
                            <form method="post">
                                <div class="mb-2 position-relative">
                                    <input type="text" class="form-control form-control-lg" asp-for="Name" placeholder="Your Name" />
                                    <span asp-validation-for="Name" class="text-danger error-message"></span>
                                </div>

                                <div class="mb-2 position-relative">
                                    <input type="text" class="form-control form-control-lg" asp-for="Email" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger error-message"></span>
                                </div>

                                <div class="mb-2 position-relative">
                                    <input type="text" class="form-control form-control-lg" asp-for="PhoneNumber" placeholder="PhoneNumber" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger error-message"></span>
                                </div>

                                <div class="text-center pt-2">
                                    <button type="submit" class="fs-5 p-3 rounded-3 bg-danger text-white">Make an Appointment</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

