
@{
    ViewData["Title"] = "AddAppoint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        color: #434f53;
    }
    .app-txt{
        padding-left:35px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Poppins', sans-serif;
        color: #555555;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0px;
    }
    .txt-app{
        padding-left:50px;
        
    }
 
</style>
<br />
<br />

<section class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="img-app">
                    <img src="~/images/app1.jpg" class="img-fluid" />
                </div>
            </div>


            <div class="col-lg-6 col-12">
                <div class="img2-app">
                    <div class="">
                        <p class="fs-1 fw-bolder text-center">World Blood Donors Day</p>
                    </div> 
                    <div class="app-txt">
                        <p>
                            Every year, on 14 June, countries around the world celebrate
                            World Blood Donor Day. The event serves to raise awareness of
                            the need for safe blood and blood products and to thank blood
                            donors for their life-saving gifts of blood.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 txt-app">
                        <div class="">
                            <p style="font-size:16px;margin-bottom:8px;"><i class="fa-regular fa-map" style="font-size:20px;padding-right:5px;color: #196cb3;"></i>Location:</p>
                        </div>
                        <div class="p-0">
                            <p style="font-size:16px;">
                                RK University, Rajkot,Gujarat
                            </p>
                        </div>
                        
                        <div class="mt-4">
                            <p style="font-size:16px;margin-bottom:8px;"><i class="fa-solid fa-calendar-days" style="font-size:20px;padding-right:5px;color: #196cb3;"></i>Date:</p>
                        </div>
                        <div class="p-0">
                            <p style="font-size:16px;">
                                14 June 2019
                            </p>
                        </div>
                       
                        <div class="mt-4">
                            <p style="font-size:16px;margin-bottom:8px;"><i class="fa-regular fa-clock" style="font-size:20px;padding-right:5px;color: #196cb3;"></i>Time:</p>
                        </div>
                        <div class="p-0">
                            <p style="font-size:16px;">
                                9:00 am - 8:00 pm
                            </p>
                        </div>

                    </div>

                    <div class="col-lg-8">
                        <div class="">
                            <h4 class="text-center">Register today</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

