﻿
@{
    ViewData["Title"] = "About";

}

<br />


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<style>
    .div1 {
        background-image: url('@Url.Content("~/images/header-bg.webp")');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        opacity: 0.7;
        z-index: 1;
        padding: 150px;
        font-size: 30px;
        font-weight: bold;
    }

    .txt-rpl {
        padding-top: 50px;
        position: relative;
        text-align: center;
        z-index: 2;
        font-size:40px;
        color: black;
        letter-spacing: 1em;
       
    }

    .s1 {
        padding: 100px 0 100px 0;
    }

    .sec-bg1 {
        background-color: #f9f9f9;
        margin-top: 40px;
        box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2); /* Shadow for lifted effect */
        margin-right: -80px;
        z-index: 2;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        /* Overlap by 30px */
    }

        .sec-bg1:hover {
            transform: scale(1.05); /* Zoom in on hover */
        }

    .sec-bg2 {
        margin-bottom: 50px;
        position: relative;
        border-radius: 10px;
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2); /* Shadow for lifted effect */
        z-index: 1; /* Behind .sec-bg1 */
        transition: transform 0.3s ease-in-out;
        padding-right: 0px;
    }

        .sec-bg2 img {
            width: 100%; /* Ensure the image spans the full width */
            height: 100%; /* Force the image to span the full height */
            object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
            border-radius: 10px; /* Maintain rounded corners */
        }


        .sec-bg2:hover {
            transform: scale(1.05); /* Zoom in on hover */
        }

    /* .sec-intro {
            position: relative;
            left: 40px;
            top: 40px;
        } */

    .span1 {
        width: 80px;
        height: 4px;
        top: -5px;
        margin-top: 17px;
        position: relative;
        display: block;
        background: red;
        vertical-align: baseline;
    }

    .span12 {
        width: 80px;
        height: 4px;
        top: -5px;
        margin-top: 0px;
        position: relative;
        display: inline-block;
        background: red;
        vertical-align: baseline;
    }

    .achieve {
        padding-top: 50px;
        text-align: center;
    }

    .icon-1 {
        font-size: 50px;
        border-radius: 0;
        line-height: 50px;
        margin: 20px 0;
        top: 0px;
        position: relative;
        transition:color 0.3s ease;
    }
    .icon-1:hover{
        color:red;
    }
    
    .fa {
        display: inline-block;
        font: normal normal normal 14px / 1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .counter {
        display: block;
        margin-top: 10px;
        font-size: 30px;
        color: red;
        font-weight: 650;
    }

    span {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .four-row{
        margin-top:50px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .four-row:hover {
        transform:scale(1.1);
    }
    .txt{
        line-height:70px;
        font-weight:500;
        font-family:sans-serif;
        letter-spacing:0.04em;
    }
   
</style>


<section>
    <div class="container-fluid div1">
        <div class="txt-rpl">
            ABOUT US
        </div>
    </div>
</section>


<!--first section start-->
<section class="container-fluid mt-5 s1">
    <div class="container r1">
        <div class="row t1 justify-content-center">

            <div class="sec-bg1 col-lg-5 col-sm-12 col-12 animate__animated animate__swing animate__slow">
                <div class="sec-intro">
                    <h1 class="pt-4 ps-4">
                        <strong style="font-weight:600;">Who We Are ?</strong>
                        <span class="span1"></span>
                    </h1>

                    <div class="ps-3 pt-3">
                        <p class="ps-4" style="margin-top:10px;">
                            We are a platform dedicated to managing blood donations and <br />
                            transfusions efficiently. Our goal is to connect donors, hospitals,<br />
                            and patients, ensuring safe and timely access to blood
                        </p>
                        <ul class="ps-5" style="line-height:1.8;">

                            <li>Simplifying blood donations for everyone.</li>
                            <li>Managing donor data efficiently and securely.</li>
                            <li>Connecting donors with those in need.</li>
                            <li>Ensuring reliable access to life-saving blood.</li>
                            <li>Helped a lot of people in need.</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="sec-bg2 col-lg-5 col-sm-12 col-12 animate__animated animate__swing animate__slow">
                <!-- Background Image -->
                <a href="https://youtu.be/Yxql1GVPJVk?si=2xICkeF2bFRFfPlE" target="_blank">
                    <img src="https://thepatriot.in/wp-content/uploads/2024/06/Blood-Donation-In-India.jpg" style="border-radius:10px;" class="img-fluid" />

                    <!-- Play Button Icon Overlay -->
                    <div class="play-button" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <img src="https://img.icons8.com/ios-filled/50/ffffff/play-button-circled.png" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--first section end-->


<!--2nd section start-->
<section class="s2-about">
    <div class="container" style="background-color:none;visibility: visible;animation-name: fadeInUp;">
        <div class="row" style="margin-top:30px;margin-right:-15px;margin-left:-15px;">
            <div class="achieve">
                <h2 style="font-weight:bold;font-size:40px;">OUR ACHIEVEMENTS 

                </h2>
                <span class="span12"></span>
                <p style="font-size:20px;">
                    We have been working since 2015 with a prestigious vision to helping patient to provide blood.
                </p>
            </div>
        </div>


        <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
            <div class="col four-row">
                <div class="f1-txt" style="text-align:center;padding:24px 24px;margin:32px 0;background-color:whitesmoke;">
                    <i class="fa-solid fa-heart-pulse icon-1"></i>
                    <span class="counter">6789</span>
                    <h4 class="txt">Success Smile</h4>
                </div>
            </div>


            <div class="col four-row">
                <div class="f1-txt" style="text-align:center;padding:24px 24px;margin:32px 0;background-color:ghostwhite;">
                    <i class="fa-solid fa-stethoscope icon-1"></i>
                    <span class="counter">4789</span>
                    <h4 class="txt">Happy Donors</h4>
                </div>
            </div>


            <div class="col four-row">
                <div class="f1-txt" style="text-align:center;padding:24px 24px;margin:32px 0;background-color:lightyellow;">
                    <i class="fa-solid fa-users icon-1"></i>
                    <span class="counter">3579</span>
                    <h4 class="txt">Happy Receiver</h4>
                </div>
            </div>


            <div class="col four-row">
                <div class="f1-txt" style="text-align:center;padding:24px 24px;margin:32px 0;background-color:LightGray;">
                    <i class="fa-solid fa-award icon-1"></i>
                    <span class="counter">1156</span>
                    <h4 class="txt">Total Awards</h4>
                </div>
            </div>

        </div>
    </div>

</section>
<!--2nd section end-->

<script>
    $('.counter').each(function () {
        $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
        }, {

            //chnage count up speed here
            duration: 3000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>