@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .div1 {
        background-image: url('https://templates.bwlthemes.com/blood_donation/v_2/images/header-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        opacity: 0.7;
        z-index: 1;
        padding: 150px;
        font-size: 30px;
        font-weight: bold;
    }

    .txt-rpl {
        padding-top: 50px;
        position: relative;
        text-align: center;
        z-index: 2;
        font-size: 40px;
        color: black;
        letter-spacing: 2em;
        font-size: 50px;
    }
</style>


<section>
    <div class="container-fluid div1">
        <div class="txt-rpl">
            BLOGS
        </div>
    </div>
</section>

<br />

<section class="about-s2">

    <div class="container">
        <div class="row" style="height:400px;">
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mr-3" style="background-color:red;">
            </div>

            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 " style="background-color:yellow;">
            </div>

            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 " style="background-color:green;">
            </div>
        </div>

        <div class="row" style="height:400px;margin-top:12px;">
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12" style="background-color:red;">
            </div>

            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 " style="background-color:yellow;">
            </div>

            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 " style="background-color:green;">
            </div>
        </div>

        <div class="row" style="height:400px;margin-top:12px;">
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12" style="background-color:red;">
            </div>

            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 " style="background-color:yellow;">
            </div>

            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 " style="background-color:green;">
            </div>
        </div>
    </div>
</section>