
@{
    ViewData["Title"] = "Camp2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .div1 {
        background-image: url('@Url.Content("~/images/header-bg.webp")');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        opacity: 0.7;
        z-index: 1;
        padding: 150px;
        font-size: 30px;
        font-weight: bold;
    }

    .txt-rpl {
        padding-top: 50px;
        position: relative;
        text-align: center;
        z-index: 2;
        font-size: 40px;
        color: black;
        letter-spacing: 1em;
    }

    h1 {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #555555;
        line-height: 36px;
    }

    .p1 {
        font: 17px / 28px 'Poppins', sans-serif;
        color: #555555;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.01em;
        margin: 0 0 12px;
        padding: 0;
    }

    .event-content-title {
        font-size: 24px;
        border-bottom: 3px solid #eeeeee;
        color: #5c5c5c;
        padding-bottom: 15px;
        position: relative;
    }

        .event-content-title:after {
            bottom: -3px;
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            width: 40px;
            background: #EF3D32;
        }

    .event-sub-content-title {
        margin-top: 12px;
        font-weight: bold;
        display: block;
    }

        .event-sub-content-title em.date {
            font-weight: normal;
            border-bottom: 1px dashed #b3b3b3;
            cursor: help;
        }

    .event-content-info {
        font-size: 16px;
    }

    h4 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #555555;
        line-height: 36px;
        margin: 0 0 16px 0;
    }

    .no-link {
        color: inherit; /* Inherit color from parent */
        text-decoration: none; /* Remove underline */
    }

</style>

<section>
    <div class="container-fluid div1">
        <div class="txt-rpl">
            SINGLE CAMPAIGNS
        </div>
    </div>
</section>

<br />
<br />

<section class="container-fluid mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-12">
                <img src="https://templates.bwlthemes.com/blood_donation/v_2/images/event_single.jpg" class="img-fluid w-100" alt="Blood Donation Day" />

                <div class="mt-4">
                    <h1>International Blood Donation Day - 2024</h1>
                    <p class="single-post-meta mt-2" style="font-size:18px;font-family: 'Montserrat', sans-serif;color:#555555;font-weight: 500;"><i class="fa fa-user"></i>&nbsp; Oliver Zipse &nbsp; &nbsp; <i class="fa fa-share"></i>&nbsp; Join the Mission to Save Lives</p>
                </div>

                <div class="single-post-inner-content p1">
                    <p>Welcome to our Campaigns page, a dedicated initiative to make a positive impact through life-saving blood donations. This campaign brings people together to help meet urgent community needs and offer hope to those in critical conditions.</p>
                    <p>
                        Every campaign with Oliver aims to ensure a steady blood supply for emergencies, hospital needs, and patients requiring long-term support. By joining Oliver Zipse’s mission, you can help make a difference in the lives of accident victims, those with serious illnesses, and individuals facing health challenges.
                        Get involved—your contribution matters, and every drop counts toward a life-saving cause.
                    </p>
                    <p>
                        Together, we can build a community that values compassion and giving. Explore how you can participate and help spread awareness. With every donation, we take a step closer to saving lives. Be part of Oliver Zipse’s mission to make a lasting impact and bring hope to those in need.
                    </p>
                </div>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-12 d-flex">
                <div class="col-sm-4 col-12">

                    <h4 class="event-content-title">Details</h4>

                    <p class="event-content-info">

                        <span class="event-sub-content-title">Date:  <em class="date">December 17, 2024</em></span>

                        <span class="event-sub-content-title">Cost:</span>
                        Free
                        <span class="event-sub-content-title">Event Category:</span>
                        <a href="#" class="no-link">Main Events</a>
                        <span class="event-sub-content-title">Website:</span>
                        <a href="#" class="no-link" title="www.codeecstasy.com ">http://www.codeecstasy.com </a>
                    </p>
                </div> <!-- end .col-sm-4  -->

                <div class="col-sm-4 col-12">

                    <h4 class="event-content-title">Organizer</h4>

                    <p class="event-content-info">
                        Blood Donation Center <br />
                        <span class="event-sub-content-title">Phone:</span>
                        +91 9956303809  <br />
                        <span class="event-sub-content-title">Email:</span>
                        <a href="#" class="no-link" title="info@codeecstasy.com">info@codeecstasy.com </a>
                        <span class="event-sub-content-title">Website:</span>
                        <a href="#" class="no-link" title="www.codeecstasy.com ">http://booking.codeecstasy.com </a>
                    </p>

                </div> <!-- end .col-sm-4  -->

                <div class="col-sm-4 col-12">

                    <h4 class="event-content-title">Venue</h4>

                    <p class="event-content-info">
                        Bhavnagar Highway <br />
                        Kasturbadam, Rajkot   <br />
                        Gujarat India + Google Map <br />
                        <span class="event-sub-content-title">Phone:</span>
                        +919956303809 <br />
                        <span class="event-sub-content-title">Website:</span>
                        <a href="#" class="no-link" title="www.codeecstasy.com ">http://venue.codeecstasy.com </a>
                    </p>


                </div>

            </div>

        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-10 col-md-10 col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14771.964923975444!2d70.9004241!3d22.2404115!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959b4a660019ee9%3A0x3d6254f36ed0e794!2sRK%20University%20Main%20Campus!5e0!3m2!1sen!2sin!4v1730531219164!5m2!1sen!2sin" style="border:0;width:100%;min-height:400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="img-fluid"></iframe>
            </div>
        </div>

    </div>
</section>


<section class="text-center mt-4 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" asp-area="" asp-controller="Home" asp-action="Menunav">1</a></li>
                <li class="page-item"><a class="page-link" asp-area="" asp-controller="Home" asp-action="Camp2">2</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>



