
@{
    ViewData["Title"] = "Campaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .div1 {
        background-image: url('https://templates.bwlthemes.com/blood_donation/v_2/images/header-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        opacity: 0.7;
        z-index: 1;
        padding: 150px;
        font-size: 30px;
        font-weight: bold;
    }

    .txt-rpl {
        padding-top: 50px;
        position: relative;
        text-align: center;
        z-index: 2;
        font-size: 40px;
        color: black;
        letter-spacing:2em;
        font-size:50px;
    }
   
  
</style>


<section>
    <div class="container-fluid div1">
        <div class="txt-rpl">
            CAMPAIGNS
        </div>
    </div>
</section>

