
@{
    ViewData["Title"] = "Campaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


<style>

    .div1 {
        background-image: url('@Url.Content("~/images/header-bg.webp")');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        opacity: 0.7;
        z-index: 1;
        padding: 150px;
        font-size: 30px;
        font-weight: bold;
    }

    .txt-rpl {
        padding-top: 50px;
        position: relative;
        text-align: center;
        z-index: 2;
        font-size: 40px;
        color: black;
        letter-spacing:1em;
    }
   
  
</style>

 <section>
    <div class="container-fluid div1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="txt-rpl col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            CAMPAIGNS
        </div>
    </div>
</section>


<!--first section start-->

<section class="" style="padding-top:60px;">
   <div class="container">
       <div class="row">
           <h1 class="text-center fw-medium">ALL CAMPAIGNS</h1>
            <h5 style="font-family:Montserrat;word-spacing:0em;color: #484848;font-size: 22px;">
                Blood donation campaigns are essential events aimed at ensuring a consistent and sufficient
                blood supply to meet the demands of hospitals and patients in need. These campaigns serve as
                organized efforts where individuals are encouraged to donate blood voluntarily. Whether organized
                by healthcare institutions, non-profits, or community organizations, blood donation campaigns help
                raise awareness about the importance of blood donation and provide a platform for people to contribute
                to this life-saving cause.
           </h5>

           <div class="col-lg-6 col-sm-12" style="margin-top:50px;">
               <div class="row">
                    <div class="col-lg-5 col-sm-12 " style="">
                        <img src="~/images/event_1.webp" class="img-fluid" style="background-color:forestgreen; width: 100%; height: auto;" alt="Event 1" />
                   </div>

                    <div class="col-lg-7 col-sm-12 " style="padding-top:10px;">
                        <div class="camp-info">
                            <a href="#" style="text-decoration:none;font-size:17px">
                                <i class="fa fa-calendar" style="font-size:15px;color:red;font-weight:bold;"></i>
                                12 October, 2022
                            </a>
                            <h4 style="font-weight:600;margin:15px 0 15px 0;font-size:20px;font-family:sans-serif;">
                                <a href="#" style="text-decoration:none;">Opening Donation Day</a>
                            </h4>
                            <div style="font-size:17px;">
                                Join us on this special Donation Day, where every contribution brings us one step closer to saving lives.
                                Together, we can spread hope and make a lasting impact on our community's future.
                                Let's unite for a cause that matters and turn compassion into action.Donate blood to help others and saves life of people in need.
                            </div>

                            <div class="s3-event">
                                <a href="#" style="text-decoration:none; margin-right:5px;color:red;">
                                    <i class="fa-regular fa-clock"></i>
                                    10:00 - 2:00
                                </a>

                                <a href="#" style="text-decoration:none;padding-left:20px;">
                                    <i class="fa fa-map-marker" style="color:red;margin-right:5px;"></i>
                                    Rajkot, Gujarat
                                </a>
                            </div>
                        </div>
                    </div>
               </div>
           </div>


            <div class="col-lg-6 col-sm-12" style="margin-top:50px;">
                <div class="row">

                    <div class="col-lg-5 col-sm-12" style="">
                        <img src="~/images/event_1.webp" class="img-fluid" style="background-color:forestgreen; width: 100%; height: auto;" alt="Event 1" />
                    </div>

                    <div class="col-lg-7 col-sm-12 " style="padding-top:10px;">
                        <div class="camp-info">
                            <a href="#" style="text-decoration:none;font-size:17px">
                                <i class="fa fa-calendar" style="font-size:15px;color:red;font-weight:bold;"></i>
                                12 October, 2022
                            </a>
                            <h4 style="font-weight:600;margin:15px 0 15px 0;font-size:20px;font-family:sans-serif;">
                                <a href="#" style="text-decoration:none;">Opening Donation Day</a>
                            </h4>
                            <div style="font-size:17px;">
                                Join us on this special Donation Day, where every contribution brings us one step closer to saving lives.
                                Together, we can spread hope and make a lasting impact on our community's future.
                                Let's unite for a cause that matters and turn compassion into action.Donate blood to help others and saves life of people in need.
                            </div>

                            <div class="s3-event">
                                <a href="#" style="text-decoration:none; margin-right:5px;color:red;">
                                    <i class="fa-regular fa-clock"></i>

                                    10:00 - 2:00
                                </a>

                                <a href="#" style="text-decoration:none;padding-left:20px;">
                                    <i class="fa fa-map-marker" style="color:red;margin-right:5px;"></i>
                                    Rajkot, Gujarat
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>




   </div>
</section>


<!--first section ended-->


<br />
<br />
