
@{
    ViewData["Title"] = "Campaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


<style>

    .div1 {
        background-image: url('@Url.Content("~/images/header-bg.webp")');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        opacity: 0.7;
        z-index: 1;
        padding: 150px;
        font-size: 30px;
        font-weight: bold;
    }

    .txt-rpl {
        padding-top: 50px;
        position: relative;
        text-align: center;
        z-index: 2;
        font-size: 40px;
        color: black;
        letter-spacing:1em;
    }

    .span1 {
        width: 80px;
        height: 4px;
        top: -5px;
        margin-top: 0px;
        position: relative;
        display: inline-block;
        background: red;
        vertical-align: baseline;

    }
</style>

 <section>
    <div class="container-fluid div1">
        <div class="txt-rpl">
            CAMPAIGNS
        </div>
    </div>
</section>


<!--first section start-->

<section class="" style="padding-top:60px;">
   <div class="container">
       <div class="row">
            <div class="text-center">
                <h1 class="text-center fw-medium ">ALL CAMPAIGNS</h1>
                <span class="span1"></span>
            </div>
          
            <h6 style="font-family:Montserrat;word-spacing:0.3em;color: #484848;font-size: 20px; padding-top:15px;">
                Blood donation campaigns are essential events aimed at ensuring a consistent and sufficient
                blood supply to meet the demands of hospitals and patients in need. These campaigns serve as
                organized efforts where individuals are encouraged to donate blood voluntarily. Whether organized
                by healthcare institutions, non-profits, or community organizations, blood donation campaigns help
                raise awareness about the importance of blood donation and provide a platform for people to contribute
                to this life-saving cause.
           </h6>

           <div class="col-lg-6 col-sm-12" style="margin-top:50px;padding-right:20px;">
                <div class="row" style="background-color:whitesmoke;">
                    <div class="col-lg-5 col-sm-12 " style="padding-left:0;">
                        <img src="~/images/event_1.webp" class="img-fluid" style="background-color:forestgreen; width: 100%; height: auto;" alt="Event 1" />
                   </div>

                    <div class="col-lg-7 col-sm-12 " style="padding-top:10px;">
                        <div class="camp-info">
                            <a href="#" style="text-decoration:none;font-size:17px;color:black;font-weight:600;">
                                <i class="fa fa-calendar" style="font-size:15px;color:red;font-weight:bold;"></i>
                                12 October, 2022
                            </a>
                            <h4 style="font-weight:600;margin:15px 0 15px 0;font-size:20px;font-family:sans-serif;">
                                <a href="#" style="font-family:Montserrat;text-decoration:none;color:black;font-weight:600;">Opening Donation Day</a>
                            </h4>
                            <div style="font-size:17px;">
                                Join us on this special Donation Day, where every contribution brings us one step closer to saving lives.
                                Together, we can spread hope and make a lasting impact on our community's future.
                                Let's unite for a cause that matters and turn compassion into action.Donate blood to help others and saves life of people in need.
                            </div>

                            <div class="s3-event mt-3">
                                <a href="#" style="text-decoration:none; margin-right:5px;color:red;">
                                    <i class="fa-regular fa-clock"></i>
                                    10:00 - 2:00
                                </a>

                                <a href="#" style="text-decoration:none;padding-left:20px;color:black;font-weight:600;">
                                    <i class="fa fa-map-marker" style="color:red;margin-right:5px;"></i>
                                    Rajkot, Gujarat
                                </a>
                            </div>
                        </div>
                    </div>
               </div>
           </div>


            <div class="col-lg-6 col-sm-12" style="margin-top:50px;padding-left:20px;background-color:whitesmoke;">
                <div class="row" >

                    <div class="col-lg-5 col-sm-12" style="padding-left:0;" >
                        <img src="~/images/camp2.webp" class="img-fluid" style="background-color:forestgreen; width: 100%; height: auto;" alt="Event 1" />
                    </div>

                    <div class="col-lg-7 col-sm-12 " style="padding-top:10px;">
                        <div class="camp-info">
                            <a href="#" style="text-decoration:none;font-size:17px;color:black;font-weight:600;">
                                <i class="fa fa-calendar " style="font-size:15px;color:red;"></i>
                                12 October, 2022
                            </a>
                            <h4 style="font-weight:600;margin:15px 0 15px 0;font-size:20px;font-family:sans-serif;">
                                <a href="#" style="font-family:Montserrat;text-decoration:none;color:black;font-weight:600;">Youth Donor Initiative</a>
                            </h4>
                            <div style="font-size:17px;">
                                The Youth Donor Initiative is a campaign focused on empowering young individuals to actively participate in blood donation 
                                efforts. Participating helps to those who are in need of bloods. With the energy and enthusiasm that youth bring,they hold the potential to create a lasting impact on blood donation efforts.
                            </div>

                            <div class="s3-event mt-3">
                                <a href="#" style="text-decoration:none; margin-right:5px;color:red;">
                                    <i class="fa-regular fa-clock"></i>
                                    10:00 - 2:00
                                </a>

                                <a href="#" style="text-decoration:none;padding-left:20px;color:black;font-weight:600;">
                                    <i class="fa fa-map-marker" style="color:red;margin-right:5px;"></i>
                                    Rajkot, Gujarat
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>


        <div class="row">

            <div class="col-lg-6 col-sm-12" style="margin-top:10px;padding-right:20px;">
                <div class="row" style="background-color:whitesmoke;">
                    <div class="col-lg-5 col-sm-12 " style="padding-left:0;">
                        <img src="~/images/camp3.webp" class="img-fluid" style="background-color:forestgreen; width: 100%; height: auto;" alt="Event 1" />
                    </div>

                    <div class="col-lg-7 col-sm-12 " style="padding-top:10px;">
                        <div class="camp-info">
                            <a href="#" style="text-decoration:none;font-size:17px;color:black;font-weight:600;">
                                <i class="fa fa-calendar" style="font-size:15px;color:red;font-weight:bold;"></i>
                                12 October, 2022
                            </a>
                            <h4 style="font-weight:600;margin:15px 0 15px 0;font-size:20px;font-family:sans-serif;">
                                <a href="#" style="font-family:Montserrat;text-decoration:none;color:black;font-weight:600;">Life Saver Blood Drive</a>
                            </h4>
                            <div style="font-size:17px;">
                                Your chance to become a life saver! Join our Life Saver Blood Drive, where every drop counts.
                                By donating blood, you're giving someone a second chance at life. Let's make a difference 
                                together and ensure that hospitals are always stocked with the blood supplies they need.
                            </div>

                            <div class="s3-event mt-3">
                                <a href="#" style="text-decoration:none; margin-right:5px;color:red;">
                                    <i class="fa-regular fa-clock"></i>
                                    10:00 - 2:00
                                </a>

                                <a href="#" style="text-decoration:none;padding-left:20px;color:black;font-weight:600;">
                                    <i class="fa fa-map-marker" style="color:red;margin-right:5px;"></i>
                                    Rajkot, Gujarat
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-sm-12" style="margin-top:10px;padding-left:20px;background-color:whitesmoke;">
                <div class="row">

                    <div class="col-lg-5 col-sm-12" style="padding-left:0;">
                        <img src="~/images/camp4.webp" class="img-fluid" style="background-color:forestgreen; width: 100%; height: auto;" alt="Event 1" />
                    </div>

                    <div class="col-lg-7 col-sm-12 " style="padding-top:10px;">
                        <div class="camp-info">
                            <a href="#" style="text-decoration:none;font-size:17px;color:black;font-weight:600;">
                                <i class="fa fa-calendar " style="font-size:15px;color:red;"></i>
                                12 October, 2022
                            </a>
                            <h4 style="font-weight:600;margin:15px 0 15px 0;font-size:20px;font-family:sans-serif;">
                                <a href="#" style="font-family:Montserrat;text-decoration:none;color:black;font-weight:600;">Emergency Blood Call</a>
                            </h4>
                            <div style="font-size:17px;">
                                Urgent! An Emergency Blood Call has been made. This campaign focuses on rapidly responding to critical blood shortages in hospitals.
                                Your immediate contribution can help save lives in critical conditions. Step forward, answer the call, and make a real impact!
                            </div>

                            <div class="s3-event mt-3">
                                <a href="#" style="text-decoration:none; margin-right:5px;color:red;">
                                    <i class="fa-regular fa-clock"></i>
                                    10:00 - 2:00
                                </a>

                                <a href="#" style="text-decoration:none;padding-left:20px;color:black;font-weight:600;">
                                    <i class="fa fa-map-marker" style="color:red;margin-right:5px;"></i>
                                    Rajkot, Gujarat
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   </div>
</section>

<!--first section ended-->


<!--second section started-->

<section class="container-fluid py-5 bg-danger mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center text-white">
                <h2 class="text-uppercase fw-bolder">We have been helping people since long time</h2>
                <p class="fs-4 mt-3">You can give blood at any of our blood donation venues all over the world. We have total more than
                   four thousands happy donors centers, and more than three thousands receivers across the world and had visited thousands of other venues on various occasions.
                   These activities acrooss worldwide leads us to help others.
                </p>
                <button class="text-uppercase px-4 py-3 mt-4 fs-5">Become Volunteer</button>
            </div>
        </div>
    </div>
</section>

<!--second section ended-->


<!--third section started-->



<!--third section ended-->

<br />
<br />
