
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    * {
        font: 'Poppins', sans-serif;
    }

    .div1 {
        background-image: url('@Url.Content("~/images/header-bg.webp")');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        opacity: 0.7;
        z-index: 1;
        padding: 150px;
        font-size: 30px;
        font-weight: bold;
    }

    .txt-rpl {
        padding-top: 50px;
        position: relative;
        text-align: center;
        z-index: 2;
        font-size: 40px;
        color: black;
        letter-spacing: 1em;
    }

    .span1 {
        width: 80px;
        height: 4px;
        top: -5px;
        margin-top: 0px;
        position: relative;
        display: inline-block;
        background: red;
        vertical-align: baseline;
    }

    .contact-detail{
        font-size:19px;
        line-height:1.8em;
    }
    
</style>



<section>
    <div class="container-fluid div1">
        <div class="txt-rpl">
            CONTACT US
        </div>
    </div>
</section>



<section class="">
    <div class="container-sm">
        <div class="row">

            <div class="text-center my-5">
                <h1 class="text-center">Contact Us</h1>
                <span class="span1"></span>
            </div>

            <div class="col-lg-6 col-12">
                <div class="p-4">
                    <h2>
                        Get in Touch
                    </h2>   
                    <span class="span1"></span>
                    <p class="contact-detail mt-3">
                        We are committed to ensuring the availability of safe and adequate blood supplies. 
                        If you have any inquiries about donations, requests, or collaborations, please reach out to us.
                        Our team is here to help you with any information regarding blood availability, donor registration, 
                        and blood drive campaigns.Feel free to contact us with any questions or for further assistance.
                    </p>
                </div>
            </div>

            <div class="col-lg-5 col-12 ms-5">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/male-mobile-game-developer-illustration-download-in-svg-png-gif-file-formats--minecraft-logo-development-pack-business-illustrations-6885145.png?f=webp" class="img-fluid" />
            </div>
        </div>
    </div>
</section>



<section class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">


            </div>


            <div class="col-lg-6 col-12">

            </div>
        </div>
    </div>
</section>