﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .container-fluid {
        text-align: center;
    }

    .s1 {
        padding: 100px 0 100px 0;
    }

    .sec-bg1 {
        background-color: #f9f9f9;
        margin-top: 40px;
        padding-bottom: 0;
        box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2); /* Shadow for lifted effect */
        position: relative;
        margin-left: 80px;
        left: 65px;
        z-index: 2;
        border-radius: 10px;
        width: 538px;
        transition: transform 0.3s ease-in-out;
        /* Overlap by 30px */
    }

        .sec-bg1:hover {
            transform: scale(1.05); /* Zoom in on hover */
        }

    .sec-bg2 {
        margin-bottom: 50px;
        position: relative;
        border-radius: 10px;
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2); /* Shadow for lifted effect */
        z-index: 1; /* Behind .sec-bg1 */
        transition: transform 0.3s ease-in-out;
    }

        .sec-bg2:hover {
            transform: scale(1.05); /* Zoom in on hover */
        }

    .sec-intro {
        position: relative;
        left: 40px;
        top: 40px;
    }

    .span1 {
        width: 80px;
        height: 4px;
        top: -5px;
        margin-top: 0px;
        position: relative;
        display: inline-block;
        background: red;
        vertical-align: baseline;
    }

    .s2 {
        background-image: url('https://templates.bwlthemes.com/blood_donation/v_2/images/testimony_feat_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: inherit;
        /*    width:100%;
                    max-height:800px; */
        overflow: hidden;
        padding-top: 60%; /* 16:9 Aspect Ratio */
        position: relative;
        opacity: 0.85;
    }

    .txt-bg {
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* .rw1,.rw2{
                    background-color:antiquewhite;
                    height:200px;
                } */

    .rw1 {
        top: -100px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 100%;
        padding-left: 30px;
    }

    .rw2 {
        top: -100px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 100%;
        padding-left: 30px;
    }

        .rw1 img, .rw2 img {
            width: 100%;
            height: 100%; /* This ensures responsiveness */
        }

    .btn-theme {
        border: 0px;
        background: #EF3D32;
        color: #FFFFFF;
        display: inline-block;
        line-height: 32px;
        font-size: 18px;
        font-weight: 600;
        padding: 16px 36px;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 0;
        letter-spacing: 0em;
        overflow: hidden;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }

    .s3-layout {
    }

    .img-fig {
    }

    .camp-info {
        margin-top: 0;
        overflow: hidden;
        padding: 24px 6px;
        font-family: sans-serif;
    }

    .s3-event {
        margin-top: 50px;
        font-size: 15px;
    }

    .clock-bg {
        color: #EF3D32;
        font-size: 18px;
        margin-right: 5px;
    }

    .s4-img {
        background-image: url('https://www.shutterstock.com/image-photo/close-shot-hand-male-blood-600nw-2377692111.jpg');
        width: 100%;
        min-height: 400px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-content {
        padding-top: 35px;
        text-align: center;
        position: relative;
        z-index: 2; /* Keeps the text above the background */
        text-align: center; /* Center-aligns the text */
        font-size: 40px;
    }

</style>

<div class="container-fluid p-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/nv1.jpg" class="d-block w-100" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Efficient Blood Donation Management</h5>
                    <p>Streamline the process of registering donors and managing blood availability in real-time.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/nv2.jpg" class="d-block w-100" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Find Donors Instantly</h5>
                    <p>Search for donors by blood group and location, ensuring timely blood supply for those in need.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/photo3.jpg" class="d-block w-100" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Secure and Reliable System</h5>
                    <p>Ensure safe and secure record-keeping of blood donations with advanced data protection.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!--first section start-->
<section class="s1">
    <div class="container">
        <div class="row">

            <div class="sec-bg1 col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sec-intro">
                    <h1>
                        <strong style="font-weight:600;">Who We Are ?</strong>
                    </h1>

                    <span class="span1"></span>

                    <p style="margin-top:10px;">
                        We are a platform dedicated to managing blood donations and <br />
                        transfusions efficiently. Our goal is to connect donors, hospitals,<br />
                        and patients, ensuring safe and timely access to blood
                    </p>
                    <ul style="position:relative;left:20px;top:10px; right:20px; line-height:1.8;">

                        <li>Simplifying blood donations for everyone.</li>
                        <li>Managing donor data efficiently and securely.</li>
                        <li>Connecting donors with those in need.</li>
                        <li>Ensuring reliable access to life-saving blood.</li>
                        <li>Helped a lot of people in need.</li>
                    </ul>
                </div>
            </div>

            <div class="sec-bg2 col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12" display: inline-block; ">
                <!-- Background Image -->
                <a href="https://youtu.be/Yxql1GVPJVk?si=2xICkeF2bFRFfPlE" target="_blank">
                    <img src="https://thepatriot.in/wp-content/uploads/2024/06/Blood-Donation-In-India.jpg" style="height:410px;width:538px;border-radius:10px;" />
                    <!-- Play Button Icon Overlay -->
                    <div class="play-button" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <img src="https://img.icons8.com/ios-filled/50/ffffff/play-button-circled.png" />
                    </div>
                </a>
            </div>



        </div>

    </div>
</section>
<!--first section end-->
<!--second section start-->
<section class="s2">
    <div class="container txt-bg col-md-12 col-sm-12  text-center no-img-separator">
        <h4 style="color:white;">Awesome Words from our members</h4>
        <span class="span1"></span>
        <h1 class="extra-large" style="font-weight:bold; color:#FFFFFF;">JOIN WITH US AND SAVE LIFE</h1>
    </div>

    <div class="container-fluid row" style="margin-top:-300px;">
        <div class="rw1 col-lg-6 col-md-12 col-sm-12">
            <img src="https://media.istockphoto.com/id/1335544846/photo/senior-human-hand-holding-red-paper-heart-shape-and-red-blood-drop-symbol-on-bandage-for.jpg?s=612x612&w=0&k=20&c=gVXGcm6WOvo-HNqMFztk6QdaQBUr3vDeU1mOfiDrLuI=" />

        </div>

        <div class="rw2 col-lg-6 col-md-12 col-sm-12">
            <img src="https://media.istockphoto.com/id/1445531404/photo/world-blood-donation-donor-day-and-save-life.jpg?s=612x612&w=0&k=20&c=BWWNmtNDQgd4kYClYJAEf9sH3W5gxeC46zUz0c9vfpg=" />
        </div>

    </div>

</section>
<!--second section start-->
<!--third section start-->
<section class="section-content-block section-pure-blue-bg" style="padding: 100px 0 100px 0;">
    <div class="container">
        <div class="row" style="background-color:none;  ">
            <div class="col-sm-12 col-md-5">
                <div class="row" style="margin-bottom:50px;">
                    <div class="col-md-12 col-sm-12" style="clear:both;padding-left:25px;padding-top:15px;">
                        <h2 style="text-align:left;clear:both;font-weight:600;">OUR CAMPAIGNS</h2>
                        <span class="span1"></span>
                        <h4 class="margin-top-24" style="text-align:left;margin-top:32px;">
                            <small style="font-size:75%;">
                                All over the world we have arranged total sixty thousands donation campaign
                                and visit thousands of other venues on various occasions. People have obtained our the different
                                compaigs including blood donating, Donation camp, blood group check and group formation.
                            </small>
                        </h4>
                        <a class="btn btn-theme" style="margin-top:32px;" href="#">Load All Campaigns</a>
                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-7">
                <div class="row" style=" margin-bottom:50px;">
                    <div class="col-md-5 col-sm-12">
                        <!-- The img-fluid class should make the image responsive -->
                        <img src="~/images/event_1.webp" class="img-fluid" style="background-color:forestgreen; width: 100%; height: auto;" alt="Event 1" />
                    </div>

                    <div class="col-md-7 col-sm-12">
                        <div class="camp-info">
                            <a href="#" style="text-decoration:none;font-size:17px">
                                <i class="fa fa-calendar" style="font-size:15px;color:red;font-weight:bold;"></i>
                                12 October, 2022
                            </a>
                            <h4 style="font-weight:600;margin:15px 0 15px 0;font-size:20px;font-family:sans-serif;">
                                <a href="#" style="text-decoration:none;">Opening Donation Day</a>
                            </h4>
                            <div style="font-size:17px;">
                                Join us on this special Donation Day, where every contribution brings us one step closer to saving lives.
                                Together, we can spread hope and make a lasting impact on our community's future.
                                Let's unite for a cause that matters and turn compassion into action.Donate blood to help others and saves life of people in need.
                            </div>

                            <div class="s3-event">
                                <a href="#" style="text-decoration:none; margin-right:5px;color:red;">
                                    <i class="fa-regular fa-clock"></i>

                                    10:00 - 2:00
                                </a>

                                <a href="#" style="text-decoration:none;padding-left:20px;">
                                    <i class="fa fa-map-marker" style="color:red;margin-right:5px;"></i>
                                    Rajkot, Gujarat
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--third section end-->
<!--fourth section end-->
<section>
    <div class="s4-img">
        <div class="text-content">
            <img src="~/images/img11.png" style="width:5%;" />
            <h2 style="font-family:sans-serif;font-weight:bold;font-size:35px;color:red;padding-top:6px;">Opening Donation Day</h2>
            <p>Join us on this special day and help to save lifes.</p>
        </div>
    </div>
</section>
<!--fourth section end-->