
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .div1 {
        background-image: url('@Url.Content("~/images/header-bg.webp")');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        opacity: 0.7;
        z-index: 1;
        padding: 150px;
        font-size: 30px;
        font-weight: bold;
    }

    .txt-rpl {
        padding-top: 50px;
        position: relative;
        text-align: center;
        z-index: 2;
        font-size: 40px;
        color: black;
        letter-spacing: 1em;
    }

    .span1 {
        width: 80px;
        height: 4px;
        top: -5px;
        margin-top: 0px;
        position: relative;
        display: inline-block;
        background: red;
        vertical-align: baseline;
    }

</style>


<section>
    <div class="container-fluid div1 ">
        <div class="txt-rpl">
            SERVICES
        </div>
    </div>
</section>

<br />

<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12 bg-gradient">
                <div class="">
                    <h1 class="">
                        Blood Products
                    </h1>
                    <span class="span1"></span>

                    <p class="fs-5 " style="font-family: 'Poppins', sans-serif;">
                        Blood Center is dedicated to providing the highest quality blood products and services. 
                        Our staff is ready to serve you 24/7. Donec urna metus, mattis eget eros et, iaculis 
                        vestibulum ante. In tortor nisi, consequat ut mi id, elementum sagittis nisl. Phasellus 
                        purus ex, dignissim quis vestibulum at, pulvinar vel nisl. Pellentesque ligula lorem, 
                        hendrerit a aliquet in, ultricies vitae ipsum. Duis turpis augue, pretium sed leo eget, 
                        pulvinar gravida eros. Ut porttitor laoreet tincidunt. Mauris vitae nisl nec sem volutpat 
                        aliquet in vitae ipsum.
                    </p>
                </div>
            </div>

            <div class="col-lg-7 col-sm-12 bg-light">
                <div class="">
                    <img src="https://template79832.motopreview.com/mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-content-bg09.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

